<!-- Main Content -->
<div class="about-container">
  <div class="video-container">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/pdhyVVYx6BY"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  <div class="text-container">
    <h1>We Have Been with You for 20 Years</h1>
    <p>
      Our journey began in 2004 in the Romania. 
      From the start of our activities, our main goal 
      has been to make Europe more beautiful. All of our 
      16 million satisfied customers are proof that we are 
      heading in the right direction.
    </p>
    <p>
      At the same time, it is a great commitment. A commitment 
      that needs to be improved day by day by choosing higher 
      quality products and delivering them as quickly as possible, 
      creating unforgettable shopping experiences. The commitment 
      to continue together to make beauty more accessible. On every occasion. Anywhere in the world.
    </p>
  </div>
</div>
