.navbar {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
}
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; 
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.search-account-cart {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  margin: 0 20px;
}
.search-bar {
  flex: 1;
  display: flex;
  margin-right: 20px;
}
.search-bar input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
}
.search-bar button {
  background-color: #fff;
  border: none;
  padding: 10px;
  border-radius: 0 5px 5px 0;
}
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  flex: 1;
  justify-content: center; 
  flex-wrap: wrap; 
  gap: 20px;
}

.nav-links li {
  position: relative;
}
.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}
.nav-links .dropdown:hover .dropdown-content {
  display: flex;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  color: #000;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 350px;
  padding: 40px;
  z-index: 1;
}
.dropdown-column {
  flex: 1;
  margin: 0 10px;
}
.dropdown-column h4 {
  margin-top: 0;
}
.dropdown-column a {
  color: #000;
  padding: 5px 0;
  text-decoration: none;
}
.dropdown-column a:hover {
  text-decoration: underline;
}
.account-cart {
  display: flex;
  align-items: center;
}
.account-cart a {
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
  display: flex;
  align-items: center;
}
.account-cart .wishlist-count {
  background-color: #e00034;
  border-radius: 50%;
  padding: 5px 10px;
  margin-left: 5px;
}
.fas {
  margin-right: 5px;
}
@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
  }
  .search-account-cart {
    margin: 10px 0;
  }
  .nav-links {
    flex-direction: column;
  }
  .account-cart {
    margin-top: 10px;
  }
}
.example-button-row {
  display: table-cell;
  max-width: 600px;
}
