  <!-- Nav Bar -->
  <nav class="navbar">
    <div class="navbar-container">
      <a [routerLink]="['/main-page']" class="logo">Scent Serenity</a>
      <div class="search-account-cart">
        <div class="search-bar">
          <input type="text" placeholder="Search a fragrance.." />
          <button><mat-icon>search</mat-icon></button>
        </div>
        <div class="account-cart">
          <a [routerLink]="['/login']"><i class="fas fa-user"></i> Sebastian</a>
          <a [routerLink]="['/favorite']"
            ><i class="fas fa-heart"></i> My Account
          </a>
          <a [routerLink]="['/cart']"
            ><i class="fas fa-shopping-cart"></i> Shopping cart</a
          >
        </div>
      </div>
    </div>

    <div class="navbar-container">
      <ul class="nav-links">
        <!-- Promotii -->
        <li><a [routerLink]="['/perfume']">Promotions</a></li>
        <!-- Women -->
        <li class="dropdown">
          <a [routerLink]="['/perfume', Sex.Feminine, PerfumeType.All]"
            >Women Fragrance</a
          >
          <div class="dropdown-content">
            <div class="dropdown-column">
              <h4>Women Fragrance</h4>
              <a [routerLink]="['/perfume', Sex.Feminine, PerfumeType.EDP]"
                >Eau de parfum</a
              >
              <a [routerLink]="['/perfume', Sex.Feminine, PerfumeType.EDT]"
                >Eau de toilette</a
              >
              <a [routerLink]="['/perfume', Sex.Feminine, PerfumeType.Extract]"
                >Body Mist</a
              >
            </div>
            <div class="dropdown-column">
              <h4>Popular brands</h4>

              <a [routerLink]="['/perfume', Sex.Feminine, Note.Woody]">Woody</a>
              <a [routerLink]="['/perfume', Sex.Feminine, Note.Floral]"
                >Floral</a
              >
              <a [routerLink]="['/perfume', Sex.Feminine, Note.Fruity]"
                >Fruity</a
              >
              <a [routerLink]="['/perfume', Sex.Feminine, Note.Marine]"
                >Marine</a
              >
              <a [routerLink]="['/perfume', Sex.Feminine, Note.Green]">Green</a>
            </div>
          </div>
        </li>
        <!-- Men -->
        <li class="dropdown">
          <a [routerLink]="['/perfume', Sex.Masculine]">Men Fragrance</a>
          <div class="dropdown-content">
            <div class="dropdown-column">
              <h4>Men Fragrance</h4>
              <a [routerLink]="['/perfume', Sex.Masculine, PerfumeType.EDC]"
                >Eau de cologne</a
              >
              <a [routerLink]="['/perfume', Sex.Masculine, PerfumeType.EDP]"
                >Eau de parfum</a
              >
              <a [routerLink]="['/perfume', Sex.Masculine, PerfumeType.EDT]"
                >Eau de toilette</a
              >
            </div>
            <div class="dropdown-column">
              <h4>Popular brands</h4>
              <!-- 
              <a [routerLink]="['/perfume',Sex.Feminine,Note.Woody]">Woody</a>
              <a [routerLink]="['/perfume',Sex.Feminine,Note.Floral]">Floral</a>
              <a [routerLink]="['/perfume',Sex.Feminine,Note.Fruity]">Fruity</a>
              <a [routerLink]="['/perfume',Sex.Feminine,Note.Marine]">Marine</a>
              <a [routerLink]="['/perfume',Sex.Feminine,Note.Green]">Green</a> -->
            </div>
          </div>
        </li>
        <!-- Unisex -->
        <li class="dropdown">
          <a [routerLink]="['/perfume', Sex.Unisex]">Unisex Fragrance</a>
          <div class="dropdown-content">
            <div class="dropdown-column">
              <h4>Unisex Fragrance</h4>
              <a [routerLink]="['/perfume', Sex.Unisex, PerfumeType.Extract]"
                >Perfume extract</a
              >
              <a [routerLink]="['/perfume', Sex.Unisex, PerfumeType.EDP]"
                >Eau de parfum</a
              >
              <a [routerLink]="['/perfume', Sex.Unisex, PerfumeType.EDT]"
                >Eau de toilette</a
              >
            </div>
            <div class="dropdown-column">
              <h4>Popular brands</h4>
              <!-- 
              <a [routerLink]="['/perfume',Sex.Feminine,Note.Woody]">Woody</a>
              <a [routerLink]="['/perfume',Sex.Feminine,Note.Floral]">Floral</a>
              <a [routerLink]="['/perfume',Sex.Feminine,Note.Fruity]">Fruity</a>
              <a [routerLink]="['/perfume',Sex.Feminine,Note.Marine]">Marine</a>
              <a [routerLink]="['/perfume',Sex.Feminine,Note.Green]">Green</a> -->
            </div>
          </div>
        </li>
        <!-- Niche -->
        <li class="dropdown">
          <a [routerLink]="['/perfume', Sex.Unisex]">Niche Fragrance</a>
          <div class="dropdown-content">
            <div class="dropdown-column">
              <h4>Niche Fragrance</h4>
              <a [routerLink]="['/perfume', Sex.Unisex, PerfumeType.Extract]"
                >Parfum extract</a
              >
              <a [routerLink]="['/perfume', Sex.Unisex, PerfumeType.Perfume]"
                >Parfum</a
              >
              <a [routerLink]="['/perfume', Sex.Unisex, PerfumeType.Artisan]"
                >Artisan</a
              >
            </div>
            <div class="dropdown-column">
              <h4>Popular brands</h4>
              <!-- 
              <a [routerLink]="['/perfume',Sex.Unisex,Note.Woody]">Woody</a>
              <a [routerLink]="['/perfume',Sex.Unisex,Note.Floral]">Floral</a>
              <a [routerLink]="['/perfume',Sex.Unisex,Note.Fruity]">Fruity</a>
              <a [routerLink]="['/perfume',Sex.Unisex,Note.Marine]">Marine</a>
              <a [routerLink]="['/perfume',Sex.Unisex,Note.Green]">Green</a> -->
            </div>
          </div>
        </li>
        <!-- Perfume Sets -->
        <li class="dropdown">
          <a [routerLink]="['/perfume', PerfumeType.BM]">Perfumes Sets</a>
          <div class="dropdown-content">
            <div class="dropdown-column">
              <h4>Perfumes Sets</h4>
              <a [routerLink]="['/perfume', Sex.Masculine, PerfumeType.BM]"
                >Masculine Sets</a
              >
              <a [routerLink]="['/perfume', Sex.Feminine, PerfumeType.BM]"
                >Feminine Sets</a
              >
              <a [routerLink]="['/perfume', Sex.Unisex, PerfumeType.BM]"
                >Unisex Sets</a
              >
            </div>
            <div class="dropdown-column">
              <h4>Popular brands</h4>
              <!-- 
              <a [routerLink]="['/perfume',Sex.Unisex,Note.Woody]">Woody</a>
              <a [routerLink]="['/perfume',Sex.Unisex,Note.Floral]">Floral</a>
              <a [routerLink]="['/perfume',Sex.Unisex,Note.Fruity]">Fruity</a>
              <a [routerLink]="['/perfume',Sex.Unisex,Note.Marine]">Marine</a>
              <a [routerLink]="['/perfume',Sex.Unisex,Note.Green]">Green</a> -->
            </div>
          </div>
        </li>
        <!-- Refillable -->
        <li class="dropdown">
          <a [routerLink]="['/perfume', Sex.Unisex, PerfumeType.EDP]"
            >Refillable Perfumes</a
          >
          <div class="dropdown-content">
            <div class="dropdown-column">
              <h4>Refillable Perfumes</h4>
              <a [routerLink]="['/perfume', Sex.Unisex, PerfumeType.Perfume]"
                >Parfum</a
              >
              <a [routerLink]="['/perfume', Sex.Unisex, PerfumeType.EDP]"
                >Eau de parfum</a
              >
              <a [routerLink]="['/perfume', Sex.Unisex, PerfumeType.Intense]"
                >Eau de parfum intense</a
              >
            </div>
            <div class="dropdown-column">
              <h4>Popular brands</h4>
              <!-- 
              <a [routerLink]="['/perfume',Sex.Unisex,Note.Woody]">Woody</a>
              <a [routerLink]="['/perfume',Sex.Unisex,Note.Floral]">Floral</a>
              <a [routerLink]="['/perfume',Sex.Unisex,Note.Fruity]">Fruity</a>
              <a [routerLink]="['/perfume',Sex.Unisex,Note.Marine]">Marine</a>
              <a [routerLink]="['/perfume',Sex.Unisex,Note.Green]">Green</a> -->
            </div>
          </div>
        </li>
        <!-- Decants -->
        <li class="dropdown">
          <a [routerLink]="['/perfume', Sex.Masculine, PerfumeType.EDP]"
            >Decants</a
          >
        </li>
        <!-- Samples -->
        <li class="dropdown">
          <a [routerLink]="['/perfume', Sex.Feminine, PerfumeType.EDP]"
            >Samples</a
          >
        </li>
      </ul>
    </div>
  </nav>