<div class="main-content">

    <div class="sidebar">
        <p class="user-name">My account</p>
        <br>
        <ul>
          <li><a [routerLink]="['/account']" >My orders</a></li>
          <li><a [routerLink]="['/order']">Purchased products</a></li>
          <li><a [routerLink]="['/cart']">Cart</a></li>
          <li><a [routerLink]="['/security']">Login and security</a></li>
          <li><a [routerLink]="['/contact']" >Contact details</a></li>
          <li><a [routerLink]="['/favorite']" class="active" >Favourites</a></li>
          <li><a>Log out</a></li>
        </ul>
    </div>

    <div class="content">
        <h2>Perfumes</h2>

        <div class="perfume-item">
            <div class="details">
                <p class="brand">Jean Paul Gaultier - Le Male Le Parfum</p>
                <p class="type">Eau de Parfum pentru bărbați</p>
                <p class="price">380 RON for 75 ml</p>
            </div>
        </div>

        <div class="perfume-item">
            <div class="details">
                <p class="brand">Jean Paul Gaultier - Le Male Elixir</p>
                <p class="type">Parfum pentru bărbați</p>
                <p class="price">529 RON for 125 ml</p>
            </div>
        </div>

        <div class="perfume-item">
            <div class="details">
                <p class="brand">GIVENCHY - Gentleman Givenchy</p>
                <p class="type">Eau de Parfum pentru bărbați</p>
                <p class="price">488 RON for 100 ml</p>
            </div>
        </div>

        <div class="perfume-item">
            <div class="details">
                <p class="brand">Maison Margiela - REPLICA Fall</p>
                <p class="type">Eau de Parfum, unisex</p>
                <p class="price">253 RON for 3x10 ml</p>
            </div>
        </div>

    </div>

</div>
