<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scent Navbar</title>
    <link rel="stylesheet" href="personal-lift.component.css">
</head>
<body>
  <nav class="navbar">
    <div class="navbar-container">
      <a [routerLink]="['/main-page']" class="logo">Scent Serenity</a>
      <div class="search-account-cart">
          <div class="search-bar">
              <input type="text" placeholder="Caută parfum, produse cosmetice brand...">
              <button><i class="fas fa-search"></i></button>
          </div>
          <div class="account-cart">
              <a [routerLink]="['/login']"><i class="fas fa-user"></i> Sebastian</a>
              <a [routerLink]="['/favorite']"><i class="fas fa-heart"></i> Favorites </a>
              <a [routerLink]="['/cart']"><i class="fas fa-shopping-cart"></i> Shopping cart</a>
          </div>
        </div>
    </div>

    <div class="navbar-container">
        <ul class="nav-links">
            <!-- Promotii -->
            <li><a [routerLink]="['/perfume']">Promotii</a></li>
            <!-- Women -->
            <li class="dropdown">
                      <a [routerLink]="['/perfume']">Women Fragrance</a>
                        <div class="dropdown-content">
                            <div class="dropdown-column">
                              <h4>Women Fragrance</h4>
                              <a [routerLink]="['/perfume']">Eau de parfum</a>
                              <a [routerLink]="['/perfume']">Eau de toilette</a>
                              <a [routerLink]="['/perfume']">Body Mist</a>
                            </div>
                            <div class="dropdown-column">
                              <h4>Popular brands</h4>
                              <a [routerLink]="['/perfume']">Lancôme</a>
                              <a [routerLink]="['/perfume']">NOVELLISTA</a>
                              <a [routerLink]="['/perfume']">DIOR</a>
                              <a [routerLink]="['/perfume']">Versace</a>
                              <a [routerLink]="['/perfume']">JPG</a>
                              <a [routerLink]="['/perfume']">Chloe</a>
                              <a [routerLink]="['/perfume']">Carolina Herrera</a>
                              <a [routerLink]="['/perfume']">Burberry</a>
                          </div>
                        </div>
            </li>
            <!-- Men -->
            <li class="dropdown">
                      <a [routerLink]="['/perfume']">Men Fragrance</a>
                      <div class="dropdown-content">
                        <div class="dropdown-column">
                          <h4>Men Fragrance</h4>
                          <a [routerLink]="['/perfume']">Eau de cologne</a>
                          <a [routerLink]="['/perfume']">Eau de parfum</a>
                          <a [routerLink]="['/perfume']">Eau de toilette</a>
                        </div>
                        <div class="dropdown-column">
                          <h4>Popular brands</h4>
                          <a [routerLink]="['/perfume']">Dior</a>
                          <a [routerLink]="['/perfume']">Versace</a>
                          <a [routerLink]="['/perfume']">Armani</a>
                          <a [routerLink]="['/perfume']">Hermes</a>
                          <a [routerLink]="['/perfume']">Valentino</a>
                      </div>
                    </div>
            </li>
            <!-- Unisex -->
            <li class="dropdown">
                    <a [routerLink]="['/perfume']">Unisex Fragrance</a>
                    <div class="dropdown-content">
                      <div class="dropdown-column">
                          <h4>Unisex Fragrance</h4>
                          <a [routerLink]="['/perfume']">Perfume extract</a>
                          <a [routerLink]="['/perfume']">Eau de parfum</a>
                          <a [routerLink]="['/perfume']">Eau de toilette</a>
                      </div>
                      <div class="dropdown-column">
                        <h4>Popular brands</h4>
                        <a [routerLink]="['/perfume']">Tom Ford</a>
                        <a [routerLink]="['/perfume']">Kilian</a>
                        <a [routerLink]="['/perfume']">Jo Malone</a>
                        <a [routerLink]="['/perfume']">Montale</a>
                        <a [routerLink]="['/perfume']">Xerjoff</a>
                    </div>
                  </div>
            </li>
            <!-- Niche -->
            <li class="dropdown">
                  <a [routerLink]="['/perfume']">Niche Fragrance</a>
                  <div class="dropdown-content">
                    <div class="dropdown-column">
                        <h4>Niche Fragrance</h4>
                        <a [routerLink]="['/perfume']">Parfum extract</a>
                        <a [routerLink]="['/perfume']">Parfum</a>
                        <a [routerLink]="['/perfume']">Artisan</a>
                    </div>
                    <div class="dropdown-column">
                      <h4>Popular brands</h4>
                      <a [routerLink]="['/perfume']">Zoologist</a>
                      <a [routerLink]="['/perfume']">DIOR</a>
                      <a [routerLink]="['/perfume']">Jo Malone</a>
                      <a [routerLink]="['/perfume']">Montale</a>
                      <a [routerLink]="['/perfume']">Xerjoff</a>
                  </div>
                </div>
            </li>
            <!-- Perfume Sets -->
            <li class="dropdown">
                <a [routerLink]="['/perfume']">Perfumes Sets</a>
                <div class="dropdown-content">
                  <div class="dropdown-column">
                      <h4>Perfumes Sets</h4>
                      <a [routerLink]="['/perfume']">Parfum</a>
                      <a [routerLink]="['/perfume']">Eau de parfum</a>
                      <a [routerLink]="['/perfume']">Eau de toilette</a>
                  </div>
                  <div class="dropdown-column">
                    <h4>Popular brands</h4>
                    <a [routerLink]="['/perfume']">Versace</a>
                    <a [routerLink]="['/perfume']">NOVELLISTA</a>
                    <a [routerLink]="['/perfume']">DIOR</a>
                    <a [routerLink]="['/perfume']">Hugo Boss</a>
                    <a [routerLink]="['/perfume']">Armani</a>
                    <a [routerLink]="['/perfume']">GUERLAIN</a>
                    <a [routerLink]="['/perfume']">HERMÈS</a>
                    <a [routerLink]="['/perfume']">Rabanne</a>
                </div>
              </div>
            </li>
            <!-- Refillable -->
             <li class="dropdown">
                <a [routerLink]="['/perfume']">Refillable Perfumes</a>
                <div class="dropdown-content">
                  <div class="dropdown-column">
                    <h4>Perfumes Sets</h4>
                    <a [routerLink]="['/perfume']">Parfum</a>
                    <a [routerLink]="['/perfume']">Eau de parfum</a>
                    <a [routerLink]="['/perfume']">Eau de parfum intense</a>
                  </div>
                  <div class="dropdown-column">
                    <h4>Popular brands</h4>
                    <a [routerLink]="['/perfume']">YSL</a>
                    <a [routerLink]="['/perfume']">Armani</a>
                    <a [routerLink]="['/perfume']">DIOR</a>
                    <a [routerLink]="['/perfume']">Jean Paul Gaultier</a>
                </div>
              </div>
            </li>
            <!-- Decants -->
            <li class="dropdown">
              <a [routerLink]="['/perfume']">Decants</a>
            </li>
            <!-- Samples -->
            <li class="dropdown">
                <a [routerLink]="['/perfume']">Samples</a>
            </li>
        </ul>
    </div>
</nav>

    <!-- Main Content -->
    <div class="main-content">
        <h1>Ridicare Personală</h1>
        <p>
            Din magazinele noastre, veți putea ridica comenzile plasate online sau cumpăra parfumuri și cosmetice bestseller la aceleași prețuri ca pe site-ul nostru.
        </p>
        <p>
            Puteți plăti în numerar sau cu cardul de credit direct la punctul de ridicare, de asemenea, puteți utiliza magazinele noastre și pentru testarea sau achiziționarea directă a produselor cosmetice și a parfumurilor de top.
        </p>
        <p>
            Magazinele noastre nu au un depozit propriu, comanda dvs. fiind transportată direct din depozitul central din Cehia. Înainte de ridicarea comenzii, veți primi automat un SMS de confirmare când aceasta este pregătită de ridicare.
        </p>
        <p>
            Termenul de livrare al comenzilor este între 2-4 zile lucrătoare de la data expedierii din depozitul central.
        </p>
        <div class="store-locations">
            <div class="store">
                <h2>Parfumerie București - Mega Mall</h2>
                <p>(magazin + punct de ridicare)</p>
                <p>Pierre de Coubertin nr. 7-8, sector 2, Etaj -1<br>0770898073, București, sector 2</p>
            </div>
            <div class="store">
                <h2>Parfumerie Brasov</h2>
                <p>(magazin + punct de ridicare)</p>
                <p>Calea Bucuresti 260<br>0770898073, Brasov</p>
            </div>
        </div>
        <h2>Vreți să ne întrebați ceva? Scrieți-ne aici, vă rugăm.</h2>
        <form class="contact-form">
            <div class="form-group">
                <label for="name">Numele</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="phone">Mobil/Telefon</label>
                <input type="tel" id="phone" name="phone" required>
            </div>
            <div class="form-group">
                <label for="contact-method">Cum putem răspunde? <span>(optional)</span></label>
                <select id="contact-method" name="contact-method">
                    <option value="email">Email</option>
                    <option value="phone">Telefon</option>
                </select>
            </div>
            <div class="form-group">
                <label for="order-number">Numărul comenzii <span>(optional)</span></label>
                <input type="text" id="order-number" name="order-number">
            </div>
            <div class="form-group">
                <label for="help-topic">Cu ce vă putem ajuta?</label>
                <select id="help-topic" name="help-topic">
                    <option value="existing-order">Întrebare despre / modificarea unei comenzi existente</option>
                    <option value="new-order">Întrebare despre o nouă comandă</option>
                    <option value="product-info">Întrebare despre un produs</option>
                    <option value="other">Altele</option>
                </select>
            </div>
            <div class="form-group">
                <label for="message">Te rugăm să tastezi aici întrebarea ta</label>
                <textarea id="message" name="message" rows="5" required></textarea>
            </div>
            <button type="submit">Trimite</button>
        </form>
    </div>

    <!-- Footer -->
    <footer class="footer">
      <div class="footer-top">
        <div class="footer-contact">
          <p>0770 89 80 73</p>
          <p>Luni-Vineri 8-16, Sambata 10-18</p>
          <p><a href="mailto:info@ScentSerenity">info&#64;ScentSerenity.com</a></p>
        </div>
      <div class="footer-newsletter">
        <p>Newsletter to e-mail</p>
        <div class="newsletter-input">
            <input type="email" placeholder="Email address" class="newsletter-email">
            <!-- Alert, need to add -->
            <button> Submit </button>
        </div>
      </div>
      </div>
      <div class="footer-middle">
        <div class="footer-column">
          <h2>  Magazinele și punctele noastre de vânzare</h2>
          <p>   Brasov - Calea București 260 </p>
          <p>   Bucuresti - Calea București 260 </p>
        </div>
        <div class="footer-column">
          <h2>De ce Scent Serenity?</h2>
          <ul>
            <li><a [routerLink]="['/benefits']">  Avantajele ScentSerenity</a></li>
            <li><a [routerLink]="['/about-us']">  Despre noi</a></li>
            <li><a [routerLink]="['/original-products']">  Produse de marcă originale</a></li>
            <li><a [routerLink]="['/personal-lift']">  Ridicare Personală</a></li>
            <li><a [routerLink]="['/gdpr']">  Protecția datelor personale</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h2>Link-uri importante</h2>
          <ul>
            <!-- Alert, need to add -->
            <li><a href="#">Termeni și condiții</a></li>
            <!-- Pagina, need to add -->
            <li><a href="#">Cum pot plăti?</a></li>
            <!-- Alert, need to add -->
            <li><a [routerLink]="['/transport']">Metode de livrare</a></li>
            <!-- Pagina, need to add -->
            <li><a href="#">Reclamații și plângeri</a></li>
            <!-- Pagina, need to add -->
            <li><a [routerLink]="['/contact']">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-trust">
          <a href="https://www.trustpilot.com/"><img src="/src/app/photos/trustpilot.png" alt="Trustpilot"></a>
          <a href="https://anpc.ro/"><img src="/src/app/photos/anpc.png" alt="ANPC"></a>
        </div>
        <div class="footer-app">
          <p>Descărcați aplicația mobilă</p>
          <a href="https://play.google.com/store/games?device=windows"><img src="/src/app/photos/googlePlay.png" alt="Google Play"></a>
          <a href="https://www.apple.com/app-store/"><img src="/src/app/photos/apple.png" alt="App Store"></a>
        </div>
        <div class="footer-countries">
          <p>
            <a href="#">Belgium</a> | <a href="#">Deutschland</a> | <a href="#">France</a> | <a href="#">Great Britain</a> |
            <a href="#">Österreich</a> | <a href="#">Romania</a>
          </p>
        </div>
      </div>
      <div class="footer-legal">
        <p>© 2024 ScentSerenity, s.r.o. (SRL)</p>
      </div>
      <div class="footer-social">
        <a href="#"><img src="facebook.png" alt="Facebook"></a>
        <a href="#"><img src="instagram.png" alt="Instagram"></a>
        <a href="#"><img src="x.png" alt="Twitter"></a>
        <a href="#"><img src="youtube.png" alt="YouTube"></a>
      </div>
    </footer>
    
    </body>
</html>
