<!-- Main -->
<div class="main-content">
  @for(perfume of perfumes;track perfume.id){

    <div class="item">
      <img
      [src]="perfume.images[0]"
      class="perfume-image"
      [alt]="perfume.name"
      />
      <div class="item-content">
        <div class="item-details">
          <h2>{{perfume.name}}</h2>
          <p>{{perfume.brand}}</p>
        </div>
        <div class="item-actions">
          <span class="perfume-quantity">{{perfume.quantity}} Buc</span>

          <span class="price">{{perfume.price}} RON</span>
          <a (click)="deletePerfume(perfume)" class="delete-button">sterge</a>
        </div>
      </div>
    </div>
  }
    
    <div class="options">
      <div class="option">
        <label
        ><mat-checkbox (change)="checkWrap($event.checked)" > 
          Împachetați cadou anumite produse sau toată
          comanda

        </mat-checkbox> 
        </label
        >
        <span class="option-price">26 RON</span>
      </div>
      <div class="option">
      <label><mat-checkbox (change)="checkEcoWrap($event.checked)" > 
        Ambalare ecologică
        </mat-checkbox>
        </label>
      <span class="option-price">5 RON</span>
    </div>
    <div class="option">
      <label><mat-checkbox (change)="checkWaranty($event.checked)" >  Asigurare colet </mat-checkbox>></label>
      <span class="option-price">4 RON</span>
    </div>
  </div>

  <div class="total-price">Pret total inclusiv TVA: {{totalPrice}} RON</div>

</div>
