<mat-card class="perfume-container">
  <a [routerLink]="['/perfume-page', perfume.id]">
  <img mat-card-image class="perfume-image" [src]="perfume.images[0]" alt="Perfume Image">
  </a>
  <mat-card-header>
    <mat-card-title>{{perfume.brand}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <h2>{{perfume.name}}</h2>
      <p>Perfume per {{perfume.quantity}} ML</p>
      <p class = "bold-price">At the price of {{perfume.price}} Lei</p>
  </mat-card-content>
  <mat-card-actions>
      <button (click)="addItemToCart(perfume)" mat-stroked-button>Add to Cart</button>
      <button mat-stroked-button><a class="fragrantica-link" [href]='perfume.fragranticaLink'>Fragrantica</a></button>
  </mat-card-actions>
</mat-card>