  <!-- Footer -->
  <footer class="footer">
    <div class="footer-top">
      <div class="footer-contact">
        <p>0770 89 80 73</p>
        <p>Monday - Friday 8-16, Saturday 10-18</p>
        <p>
          <a href="mailto:info@ScentSerenity">info&#64;ScentSerenity.com</a>
        </p>
      </div>
      <div class="footer-newsletter">
        <p>Newsletter to e-mail</p>
        <div class="newsletter-input">
          <input
            type="email"
            placeholder="Email address"
            class="newsletter-email"
          />
          <!-- Alert, need to add -->
          <button>Submit</button>
        </div>
      </div>
    </div>

    <div class="footer-middle">
      <div class="footer-column">
        <h2>Our stores and points of sale</h2>
        <p>Brasov - Calea București 260</p>
        <p>Bucuresti - Calea București 260</p>
      </div>

      <div class="footer-column">
        <h2>De ce Scent Serenity?</h2>
        <ul>
          <li>
            <a [routerLink]="['/benefits']"> The benefits of ScentSerenity </a>
          </li>
          <li><a [routerLink]="['/about-us']"> About us </a></li>
          <li>
            <a [routerLink]="['/original-products']">
              Original brand products
            </a>
          </li>
          <li><a [routerLink]="['/personal-lift']"> Personal Pickup </a></li>
          <li><a [routerLink]="['/gdpr']"> Protection of personal data </a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h2>Important links</h2>
        <ul>
          <li><a href="#">Terms and conditions</a></li>
          <li><a href="#">How can I pay?</a></li>
          <li><a [routerLink]="['/transport']">Delivery methods</a></li>
          <li><a href="#">Claims and complaints</a></li>
          <li><a [routerLink]="['/contact']">Contact</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="footer-trust">
        <a href="https://www.trustpilot.com/"
          ><img src="/assets/trustpilot.png" alt="Trustpilot"
        /></a>
        <a href="https://anpc.ro/"><img src="/assets/anpc.png" alt="ANPC" /></a>
      </div>

      <div class="footer-app">
        <p>Download the mobile app</p>
        <a href="https://play.google.com/store/games?device=windows"
          ><img src="/assets/googlePlay.png" alt="Google Play"
        /></a>
        <a href="https://www.apple.com/app-store/"
          ><img src="/assets/apple.png" alt="App Store"
        /></a>
      </div>

      <div class="footer-countries">
        <p>
          <a href="#">Belgium</a> | <a href="#">Deutschland</a> |
          <a href="#">France</a> | <a href="#">Great Britain</a>
          |
          <a href="#">Österreich</a> | <a href="#">Romania</a>
        </p>
      </div>
    </div>

    <div class="footer-legal">
      <p>© 2024 ScentSerenity, s.r.o. (SRL)</p>
    </div>
    <div class="footer-social">
      <a href="#"><img src="/assets/facebook.png" alt="Facebook" /></a>
      <a href="#"><img src="/assets/instagram.png" alt="Instagram" /></a>
      <a href="#"><img src="/assets/x.png" alt="Twitter" /></a>
      <a href="#"><img src="/assets/youtube.png" alt="YouTube" /></a>
    </div>
  </footer>