<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Scent Navbar</title>
  <link rel="stylesheet" href="main-page.component.css" />
</head>

<body>
  <!-- Nav Bar -->
  <nav class="navbar">
    <div class="navbar-container">
      <a [routerLink]="['/main-page']" class="logo">Scent Serenity</a>
      <div class="search-account-cart">
        <div class="search-bar">
          <input type="text" placeholder="Search a fragrance.." />
          <button><mat-icon>search</mat-icon></button>
        </div>
        <div class="account-cart">
          <a [routerLink]="['/login']"><i class="fas fa-user"></i> Sebastian</a>
          <a [routerLink]="['/favorite']"
            ><i class="fas fa-heart"></i> My Account
          </a>
          <a [routerLink]="['/cart']"
            ><i class="fas fa-shopping-cart"></i> Shopping cart</a
          >
        </div>
      </div>
    </div>

    <div class="navbar-container">
      <ul class="nav-links">
        <!-- Promotii -->
        <li><a [routerLink]="['/perfume']">Promotions</a></li>
        <!-- Women -->
        <li class="dropdown">
          <a [routerLink]="['/perfume', Sex.Feminine]">Women Fragrance</a>
          <div class="dropdown-content">
            <div class="dropdown-column">
              <h4>Women Fragrance</h4>
              <a [routerLink]="['/perfume', Sex.Feminine, PerfumeType.EDP]"
                >Eau de parfum</a
              >
              <a [routerLink]="['/perfume', Sex.Feminine, PerfumeType.EDT]"
                >Eau de toilette</a
              >
              <a [routerLink]="['/perfume', Sex.Feminine, PerfumeType.Extract]"
                >Body Mist</a
              >
            </div>
            <div class="dropdown-column">
              <h4>Popular brands</h4>
              <!--
              <a [routerLink]="['/perfume',Sex.Feminine,Note.Woody]">Woody</a>
              <a [routerLink]="['/perfume',Sex.Feminine,Note.Floral]">Floral</a>
              <a [routerLink]="['/perfume',Sex.Feminine,Note.Fruity]">Fruity</a>
              <a [routerLink]="['/perfume',Sex.Feminine,Note.Marine]">Marine</a>
              <a [routerLink]="['/perfume',Sex.Feminine,Note.Green]">Green</a>
              -->
            </div>
          </div>
        </li>
        <!-- Men -->
        <li class="dropdown">
          <a [routerLink]="['/perfume', Sex.Masculine]">Men Fragrance</a>
          <div class="dropdown-content">
            <div class="dropdown-column">
              <h4>Men Fragrance</h4>
              <a [routerLink]="['/perfume', Sex.Masculine, PerfumeType.EDC]"
                >Eau de cologne</a
              >
              <a [routerLink]="['/perfume', Sex.Masculine, PerfumeType.EDP]"
                >Eau de parfum</a
              >
              <a [routerLink]="['/perfume', Sex.Masculine, PerfumeType.EDT]"
                >Eau de toilette</a
              >
            </div>
            <div class="dropdown-column">
              <h4>Popular brands</h4>
              <!-- 
              <a [routerLink]="['/perfume',Sex.Feminine,Note.Woody]">Woody</a>
              <a [routerLink]="['/perfume',Sex.Feminine,Note.Floral]">Floral</a>
              <a [routerLink]="['/perfume',Sex.Feminine,Note.Fruity]">Fruity</a>
              <a [routerLink]="['/perfume',Sex.Feminine,Note.Marine]">Marine</a>
              <a [routerLink]="['/perfume',Sex.Feminine,Note.Green]">Green</a> -->
            </div>
          </div>
        </li>
        <!-- Unisex -->
        <li class="dropdown">
          <a [routerLink]="['/perfume', Sex.Unisex]">Unisex Fragrance</a>
          <div class="dropdown-content">
            <div class="dropdown-column">
              <h4>Unisex Fragrance</h4>
              <a [routerLink]="['/perfume', Sex.Unisex, PerfumeType.Extract]"
                >Perfume extract</a
              >
              <a [routerLink]="['/perfume', Sex.Unisex, PerfumeType.EDP]"
                >Eau de parfum</a
              >
              <a [routerLink]="['/perfume', Sex.Unisex, PerfumeType.EDT]"
                >Eau de toilette</a
              >
            </div>
            <div class="dropdown-column">
              <h4>Popular brands</h4>
              <!-- 
              <a [routerLink]="['/perfume',Sex.Feminine,Note.Woody]">Woody</a>
              <a [routerLink]="['/perfume',Sex.Feminine,Note.Floral]">Floral</a>
              <a [routerLink]="['/perfume',Sex.Feminine,Note.Fruity]">Fruity</a>
              <a [routerLink]="['/perfume',Sex.Feminine,Note.Marine]">Marine</a>
              <a [routerLink]="['/perfume',Sex.Feminine,Note.Green]">Green</a> -->
            </div>
          </div>
        </li>
        <!-- Niche -->
        <li class="dropdown">
          <a [routerLink]="['/perfume', Sex.Unisex]">Niche Fragrance</a>
          <div class="dropdown-content">
            <div class="dropdown-column">
              <h4>Niche Fragrance</h4>
              <a [routerLink]="['/perfume', Sex.Unisex, PerfumeType.Extract]"
                >Parfum extract</a
              >
              <a [routerLink]="['/perfume', Sex.Unisex, PerfumeType.Perfume]"
                >Parfum</a
              >
              <a [routerLink]="['/perfume', Sex.Unisex, PerfumeType.Artisan]"
                >Artisan</a
              >
            </div>
            <div class="dropdown-column">
              <h4>Popular brands</h4>
              <!-- 
              <a [routerLink]="['/perfume',Sex.Unisex,Note.Woody]">Woody</a>
              <a [routerLink]="['/perfume',Sex.Unisex,Note.Floral]">Floral</a>
              <a [routerLink]="['/perfume',Sex.Unisex,Note.Fruity]">Fruity</a>
              <a [routerLink]="['/perfume',Sex.Unisex,Note.Marine]">Marine</a>
              <a [routerLink]="['/perfume',Sex.Unisex,Note.Green]">Green</a> -->
            </div>
          </div>
        </li>
        <!-- Perfume Sets -->
        <li class="dropdown">
          <a [routerLink]="['/perfume', PerfumeType.BM]">Perfumes Sets</a>
          <div class="dropdown-content">
            <div class="dropdown-column">
              <h4>Perfumes Sets</h4>
              <a [routerLink]="['/perfume', Sex.Masculine, PerfumeType.BM]"
                >Masculine Sets</a
              >
              <a [routerLink]="['/perfume', Sex.Feminine, PerfumeType.BM]"
                >Feminine Sets</a
              >
              <a [routerLink]="['/perfume', Sex.Unisex, PerfumeType.BM]"
                >Unisex Sets</a
              >
            </div>
            <div class="dropdown-column">
              <h4>Popular brands</h4>
              <!-- 
              <a [routerLink]="['/perfume',Sex.Unisex,Note.Woody]">Woody</a>
              <a [routerLink]="['/perfume',Sex.Unisex,Note.Floral]">Floral</a>
              <a [routerLink]="['/perfume',Sex.Unisex,Note.Fruity]">Fruity</a>
              <a [routerLink]="['/perfume',Sex.Unisex,Note.Marine]">Marine</a>
              <a [routerLink]="['/perfume',Sex.Unisex,Note.Green]">Green</a> -->
            </div>
          </div>
        </li>
        <!-- Refillable -->
        <li class="dropdown">
          <a [routerLink]="['/perfume', Sex.Unisex, PerfumeType.EDP]"
            >Refillable Perfumes</a
          >
          <div class="dropdown-content">
            <div class="dropdown-column">
              <h4>Refillable Perfumes</h4>
              <a [routerLink]="['/perfume', Sex.Unisex, PerfumeType.Perfume]"
                >Parfum</a
              >
              <a [routerLink]="['/perfume', Sex.Unisex, PerfumeType.EDP]"
                >Eau de parfum</a
              >
              <a [routerLink]="['/perfume', Sex.Unisex, PerfumeType.Intense]"
                >Eau de parfum intense</a
              >
            </div>
            <div class="dropdown-column">
              <h4>Popular brands</h4>
              <!-- 
              <a [routerLink]="['/perfume',Sex.Unisex,Note.Woody]">Woody</a>
              <a [routerLink]="['/perfume',Sex.Unisex,Note.Floral]">Floral</a>
              <a [routerLink]="['/perfume',Sex.Unisex,Note.Fruity]">Fruity</a>
              <a [routerLink]="['/perfume',Sex.Unisex,Note.Marine]">Marine</a>
              <a [routerLink]="['/perfume',Sex.Unisex,Note.Green]">Green</a> -->
            </div>
          </div>
        </li>
        <!-- Decants -->
        <li class="dropdown">
          <a [routerLink]="['/perfume', Sex.Masculine, PerfumeType.EDP]"
            >Decants</a
          >
        </li>
        <!-- Samples -->
        <li class="dropdown">
          <a [routerLink]="['/perfume', Sex.Feminine, PerfumeType.EDP]"
            >Samples</a
          >
        </li>
      </ul>
    </div>
  </nav>

  <!-- Main Content -->
  <div class="main-content">
    <!-- Carousel 
    <div class="carousel">
      <div class="carousel-item active">
        <img src="/assets/brand1.png" alt="Image 1">
        <div class="carousel-caption">Solicitați gratuit diagnosticarea tenului online</div>
      </div>
      <div class="carousel-item">
        <img src="/assets/brand1.jpg" alt="Image 2">
        <div class="carousel-caption">Shopping Weeks</div>
      </div>
      <div class="carousel-item">
        <img src="/assets/brand3.png" alt="Image 3">
        <div class="carousel-caption">Descopera Terre d'Hermes</div>
      </div>
      <a class="carousel-prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="carousel-next" onclick="plusSlides(1)">&#10095;</a>
    </div>-->

    <!-- carousel -->
    <div class="carousel">
      <ng-container *ngFor="let slide of slides; let i = index">
        <img [src]="slide.src" class="slide" />
      </ng-container>

      <!-- controls -->
      <button class="control prev">
        <span class="arrow left"></span>
      </button>
      <button class="control next">
        <span class="arrow right"></span>
      </button>
    </div>

    <!-- Panel -->
    <div class="panel">
      <div class="brands">
        <img src="/assets/brand1.png" alt="Brand 1" />
        <img src="/assets/brand2.png" alt="Brand 2" />
        <img src="/assets/brand3.png" alt="Brand 3" />
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="footer">
    <div class="footer-top">
      <div class="footer-contact">
        <p>0770 89 80 73</p>
        <p>Monday - Friday 8-16, Saturday 10-18</p>
        <p>
          <a href="mailto:info@ScentSerenity">info&#64;ScentSerenity.com</a>
        </p>
      </div>
      <div class="footer-newsletter">
        <p>Newsletter to e-mail</p>
        <div class="newsletter-input">
          <input
            type="email"
            placeholder="Email address"
            class="newsletter-email"
          />
          <!-- Alert, need to add -->
          <button>Submit</button>
        </div>
      </div>
    </div>

    <div class="footer-middle">
      <div class="footer-column">
        <h2>Our stores and points of sale</h2>
        <p>Brasov - Calea București 260</p>
        <p>Bucuresti - Calea București 260</p>
      </div>

      <div class="footer-column">
        <h2>De ce Scent Serenity?</h2>
        <ul>
          <li>
            <a [routerLink]="['/benefits']"> The benefits of ScentSerenity </a>
          </li>
          <li><a [routerLink]="['/about-us']"> About us </a></li>
          <li>
            <a [routerLink]="['/original-products']">
              Original brand products
            </a>
          </li>
          <li><a [routerLink]="['/personal-lift']"> Personal Pickup </a></li>
          <li><a [routerLink]="['/gdpr']"> Protection of personal data </a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h2>Important links</h2>
        <ul>
          <li><a href="#">Terms and conditions</a></li>
          <li><a href="#">How can I pay?</a></li>
          <li><a [routerLink]="['/transport']">Delivery methods</a></li>
          <li><a href="#">Claims and complaints</a></li>
          <li><a [routerLink]="['/contact']">Contact</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="footer-trust">
        <a href="https://www.trustpilot.com/"
          ><img src="/assets/trustpilot.png" alt="Trustpilot"
        /></a>
        <a href="https://anpc.ro/"><img src="/assets/anpc.png" alt="ANPC" /></a>
      </div>

      <div class="footer-app">
        <p>Download the mobile app</p>
        <a href="https://play.google.com/store/games?device=windows"
          ><img src="/assets/googlePlay.png" alt="Google Play"
        /></a>
        <a href="https://www.apple.com/app-store/"
          ><img src="/assets/apple.png" alt="App Store"
        /></a>
      </div>

      <div class="footer-countries">
        <p>
          <a href="#">Belgium</a> | <a href="#">Deutschland</a> |
          <a href="#">France</a> | <a href="#">Great Britain</a>
          |
          <a href="#">Österreich</a> | <a href="#">Romania</a>
        </p>
      </div>
    </div>

    <div class="footer-legal">
      <p>© 2024 ScentSerenity, s.r.o. (SRL)</p>
    </div>
    <div class="footer-social">
      <a href="#"><img src="/assets/facebook.png" alt="Facebook" /></a>
      <a href="#"><img src="/assets/instagram.png" alt="Instagram" /></a>
      <a href="#"><img src="/assets/x.png" alt="Twitter" /></a>
      <a href="#"><img src="/assets/youtube.png" alt="YouTube" /></a>
    </div>
  </footer>
</body>
