

  <!-- Main -->
  <div id="main-content">
        <div class="sidebar">
          <p class="user-name">Sebastian</p>
          <p class="user-email">sebyghenciu5&#64;gmail.com</p>
          <ul class="menu">
            <li>Comenzile mele</li>
            <li>Produse cumpărate</li>
            <li>Produse returnate</li>
            <li class="active">Logare și securitate</li>
            <li>Date de contact</li>
            <li>Cardul clientului</li>
            <li>Deconectați-vă</li>
          </ul>
        </div>
        <div class="content">
          <h2>Logare și securitate</h2>
          <div class="auth-info">
            <p class="auth-label">Date de autentificare</p>
            <p class="auth-value">sebyghenciu5&#64;gmail.com</p>
            <button class="auth-btn">Modificați-vă adresa de e-mail</button>
            <button class="auth-btn">Schimbă parola</button>
          </div>
        </div>
  </div>      

