<div class="main-content">

  <!-- Main perfume -->

  <div class="products">
    <h1 class="active">Perfumes</h1>

    <!-- Perfume items -->
    <div class="product-grid">
      <div class="perfume-container">
        @for(perfume of filtredPerfumes; track perfume.id) {
        <app-perfume-item [perfume]="perfume"> </app-perfume-item>
        }
      </div>
    </div>

  </div>

  <!-- Side Bar -->
  <div class="sidebar">
    <h3 class="active">Type of the perfume</h3>
    <ul>
      <li><a [routerLink]="['/perfume', Sex.Masculine, null, Note.Woody]">Artisan</a></li>
      <li><a [routerLink]="['/perfume', Sex.Masculine, null, Note.Floral]">Extract</a></li>
      <li><a [routerLink]="['/perfume', Sex.Masculine, null, Note.Fruity]">Perfume</a></li>
      <li><a [routerLink]="['/perfume', Sex.Masculine, null, Note.Green]">Intense</a></li>
      <li><a [routerLink]="['/perfume', Sex.Masculine, null, Note.Marine]">Eau de Parfum</a></li>
      <li><a [routerLink]="['/perfume', Sex.Masculine, null, Note.Floral]">Eau de Toilette</a></li>
      <li><a [routerLink]="['/perfume', Sex.Masculine, null, Note.Woody]">Eau de Cologne</a></li>
    </ul>
    <br />
    <h4 class="active">Perfume type</h4>
    <ul>
      <li><input type="checkbox" /> Woody</li>
      <li><input type="checkbox" /> Floral</li>
      <li><input type="checkbox" /> Fruity</li>
      <li><input type="checkbox" /> Marine</li>
      <li><input type="checkbox" /> Green</li>
    </ul>

    <br />

    <h4 class="active">Gender</h4>
    <ul>
      <li><input type="checkbox" /> Masculine</li>
      <li><input type="checkbox" /> Feminine</li>
      <li><input type="checkbox" /> Unisex</li>
    </ul>
  </div>
</div>
