.perfume-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
  margin-bottom: 50px;
}
.main-content {
  display: flex;
  margin: 20px;
  flex-direction: row-reverse;
}
.sort-dropdown-container {
  margin-bottom: 16px;
  text-align: right;
}
.sort-dropdown-container label {
  margin-right: 8px;
}
.sidebar {
  width: 250px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.sidebar h3,
.sidebar h4 {
  margin: 0 0 10px;
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar ul li {
  margin: 5px 0;
}
.sidebar ul li.active {
  font-weight: bold;
}
.sidebar input[type="text"] {
  width: 100px;
  padding: 5px;
  margin: 5px 0;
}
.products {
  flex: 1;
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 20px;
  overflow-y: auto; 
}
.breadcrumb {
  font-size: 0.9em;
  margin-bottom: 10px;
}
.breadcrumb span {
  margin-right: 5px;
}
h1 {
  font-size: 2em;
  margin: 20px 0;
}
.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.perfume-container {
  flex: 1 1 200px;
}
.active {
  font-weight: bold;
}
