<div class="main-content">
  <div class="products">
    <div class="breadcrumb">
      <span>Perfumes</span>
    </div>
    <h1>Type of the parfume</h1>
    <!-- {{perfume.type}} //-->

    <div class="product-grid">
      <div class="perfume-container">
        @for(perfume of filtredPerfumes; track perfume.id) {
        <app-perfume-item [perfume]="perfume"> </app-perfume-item>
        }
      </div>
    </div>
  </div>

  <!-- Side Bar -->
  <div class="sidebar">
    <h3>Type of the perfume</h3>
    <ul>
      <li>Artisan</li>
      <li class="active">Extract</li>
      <li>Perfume</li>
      <li>Intense</li>
      <li>Eau de Parfum</li>
      <li>Eau de Toilette</li>
      <li>Eau de Cologne</li>
      <li>Body Set</li>
    </ul>
    <br />
    <h4>Price range</h4>
    <input type="text" placeholder="50 RON" /> -
    <input type="text" placeholder="2000 RON" />

    <br /><br />

    <h4>Perfume type</h4>
    <ul>
      <li><input type="checkbox" /> Woody</li>
      <li><input type="checkbox" /> Floral</li>
      <li><input type="checkbox" /> Fruity</li>
      <li><input type="checkbox" /> Marine</li>
      <li><input type="checkbox" /> Green</li>
    </ul>

    <br />

    <h4>Gender</h4>
    <ul>
      <li><input type="checkbox" /> Masculine</li>
      <li><input type="checkbox" /> Feminine</li>
      <li><input type="checkbox" /> Unisex</li>
    </ul>
  </div>
</div>
