<!-- Main Content -->
<div id="main-content">
  <div class="sidebar">
    <p class="user-name">My account</p>
    <br>
    <ul>
      <li><a [routerLink]="['/account']" >My orders</a></li>
      <li><a [routerLink]="['/order']" class="active">Purchased products</a></li>
      <li><a [routerLink]="['/cart']">Cart</a></li>
      <li><a [routerLink]="['/security']">Login and security</a></li>
      <li><a [routerLink]="['/contact']" >Contact details</a></li>
      <li><a [routerLink]="['/favorite']">Favourites</a></li>
      <li><a>Log out</a></li>
  </ul>
  </div>
  <div class="content">
    <h2>Purchased products</h2>

    <div class="order">
      <a href="/order-details" class="order-link">Versace Eros Flame</a>
      <span class="order-price">350 RON</span>
    </div>
    
    <div class="order">
      <a href="/order-details" class="order-link">Versace Eros</a>
      <span class="order-price">400 RON</span>
    </div>

    <div class="order">
      <a href="/order-details" class="order-link">Versace Eros Energy</a>
      <span class="order-price">400 RON</span>
    </div>

    <div class="order">
      <a href="/order-details" class="order-link">Versace Blue Jeans</a>
      <span class="order-price">400 RON</span>
    </div>
    
    <div class="order">
      <a href="/order-details" class="order-link">Versace Blue Dylan</a>
      <span class="order-price">400 RON</span>
    </div>
    
  </div>
</div>
