<div class="main">
  <h1>Original Brand Products</h1>
  <div class="image-container">
    <img src="/assets/original.jpg" alt="Original Products" class="product-image">
  </div>
  <div class="content">
    <p>All the products we sell come only from authorized distributors. This allows us to have access to original products of the highest quality. The perfumes available in our store come from the same distributors that supply the physical stores you can visit in person.</p>
    <p>We have been in this market since 2004 and have served tens of thousands of customers so far. We have stocked only original products from the beginning. Any other practice would be against our codes of ethics. The longevity and continuous development of our company have been made possible only through the quality of the services and products we offer. We are a respected company present in 24 European countries.</p>
    <p>We have all the quality assurance certifications, as well as firm agreements with state institutions and manufacturers, so our customers can always enjoy the comfort of a safe choice.</p>
    <p>As an additional guarantee of the quality of our products, we can also provide recommendations from our partners. Our products are demanded by trusted partners who are equally concerned with quality and authenticity.</p>
    <p>Being among the top in this field, we have become members of the Association for Electronic Commerce (APEK). This organization, which is involved in the development of e-commerce in the Czech Republic, issues a certificate awarded only to merchants who meet very strict criteria. And this certificate remains valid only for companies that continuously adhere to these strict quality and originality criteria.</p>
    <p>Every e-commerce application is subjected to a thorough audit, which involves making anonymous purchases and independently examining the quality of the products supplied.</p>
    <p>Since 2006, we have received the SAOP certificate awarded by the Consumer Protection Office in the Czech Republic. In 2008, we also received a non-discrimination certificate awarded by the Consumer Protection Office.</p>
    <p>This is a very common and legitimate question, considering that our prices are indeed very affordable (surprisingly low). Our products are sometimes up to 70% cheaper than those offered by local physical stores, even though we have the same suppliers.</p>
    <p></p>
  </div>
</div>