<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scent Navbar</title>
    <link rel="stylesheet" href="benefits.component.css">
</head>
<body>
  <!-- Nav Bar -->
  <nav class="navbar">
    <div class="navbar-container">
      <a [routerLink]="['/main-page']" class="logo">Scent Serenity</a>
      <div class="search-account-cart">
          <div class="search-bar">
              <input type="text" placeholder="Caută parfum, produse cosmetice brand...">
              <button><i class="fas fa-search"></i></button>
          </div>
          <div class="account-cart">
              <a [routerLink]="['/login']"><i class="fas fa-user"></i> Sebastian</a>
              <a [routerLink]="['/favorite']"><i class="fas fa-heart"></i> Favorites </a>
              <a [routerLink]="['/cart']"><i class="fas fa-shopping-cart"></i> Shopping cart</a>
          </div>
        </div>
    </div>

    <div class="navbar-container">
        <ul class="nav-links">
            <!-- Promotii -->
            <li><a [routerLink]="['/perfume']">Promotii</a></li>
            <!-- Women -->
            <li class="dropdown">
                      <a [routerLink]="['/perfume']">Women Fragrance</a>
                        <div class="dropdown-content">
                            <div class="dropdown-column">
                              <h4>Women Fragrance</h4>
                              <a [routerLink]="['/perfume']">Eau de parfum</a>
                              <a [routerLink]="['/perfume']">Eau de toilette</a>
                              <a [routerLink]="['/perfume']">Body Mist</a>
                            </div>
                            <div class="dropdown-column">
                              <h4>Popular brands</h4>
                              <a [routerLink]="['/perfume']">Lancôme</a>
                              <a [routerLink]="['/perfume']">NOVELLISTA</a>
                              <a [routerLink]="['/perfume']">DIOR</a>
                              <a [routerLink]="['/perfume']">Versace</a>
                              <a [routerLink]="['/perfume']">JPG</a>
                              <a [routerLink]="['/perfume']">Chloe</a>
                              <a [routerLink]="['/perfume']">Carolina Herrera</a>
                              <a [routerLink]="['/perfume']">Burberry</a>
                          </div>
                        </div>
            </li>
            <!-- Men -->
            <li class="dropdown">
                      <a [routerLink]="['/perfume']">Men Fragrance</a>
                      <div class="dropdown-content">
                        <div class="dropdown-column">
                          <h4>Men Fragrance</h4>
                          <a [routerLink]="['/perfume']">Eau de cologne</a>
                          <a [routerLink]="['/perfume']">Eau de parfum</a>
                          <a [routerLink]="['/perfume']">Eau de toilette</a>
                        </div>
                        <div class="dropdown-column">
                          <h4>Popular brands</h4>
                          <a [routerLink]="['/perfume']">Dior</a>
                          <a [routerLink]="['/perfume']">Versace</a>
                          <a [routerLink]="['/perfume']">Armani</a>
                          <a [routerLink]="['/perfume']">Hermes</a>
                          <a [routerLink]="['/perfume']">Valentino</a>
                      </div>
                    </div>
            </li>
            <!-- Unisex -->
            <li class="dropdown">
                    <a [routerLink]="['/perfume']">Unisex Fragrance</a>
                    <div class="dropdown-content">
                      <div class="dropdown-column">
                          <h4>Unisex Fragrance</h4>
                          <a [routerLink]="['/perfume']">Perfume extract</a>
                          <a [routerLink]="['/perfume']">Eau de parfum</a>
                          <a [routerLink]="['/perfume']">Eau de toilette</a>
                      </div>
                      <div class="dropdown-column">
                        <h4>Popular brands</h4>
                        <a [routerLink]="['/perfume']">Tom Ford</a>
                        <a [routerLink]="['/perfume']">Kilian</a>
                        <a [routerLink]="['/perfume']">Jo Malone</a>
                        <a [routerLink]="['/perfume']">Montale</a>
                        <a [routerLink]="['/perfume']">Xerjoff</a>
                    </div>
                  </div>
            </li>
            <!-- Niche -->
            <li class="dropdown">
                  <a [routerLink]="['/perfume']">Niche Fragrance</a>
                  <div class="dropdown-content">
                    <div class="dropdown-column">
                        <h4>Niche Fragrance</h4>
                        <a [routerLink]="['/perfume']">Parfum extract</a>
                        <a [routerLink]="['/perfume']">Parfum</a>
                        <a [routerLink]="['/perfume']">Artisan</a>
                    </div>
                    <div class="dropdown-column">
                      <h4>Popular brands</h4>
                      <a [routerLink]="['/perfume']">Zoologist</a>
                      <a [routerLink]="['/perfume']">DIOR</a>
                      <a [routerLink]="['/perfume']">Jo Malone</a>
                      <a [routerLink]="['/perfume']">Montale</a>
                      <a [routerLink]="['/perfume']">Xerjoff</a>
                  </div>
                </div>
            </li>
            <!-- Perfume Sets -->
            <li class="dropdown">
                <a [routerLink]="['/perfume']">Perfumes Sets</a>
                <div class="dropdown-content">
                  <div class="dropdown-column">
                      <h4>Perfumes Sets</h4>
                      <a [routerLink]="['/perfume']">Parfum</a>
                      <a [routerLink]="['/perfume']">Eau de parfum</a>
                      <a [routerLink]="['/perfume']">Eau de toilette</a>
                  </div>
                  <div class="dropdown-column">
                    <h4>Popular brands</h4>
                    <a [routerLink]="['/perfume']">Versace</a>
                    <a [routerLink]="['/perfume']">NOVELLISTA</a>
                    <a [routerLink]="['/perfume']">DIOR</a>
                    <a [routerLink]="['/perfume']">Hugo Boss</a>
                    <a [routerLink]="['/perfume']">Armani</a>
                    <a [routerLink]="['/perfume']">GUERLAIN</a>
                    <a [routerLink]="['/perfume']">HERMÈS</a>
                    <a [routerLink]="['/perfume']">Rabanne</a>
                </div>
              </div>
            </li>
            <!-- Refillable -->
             <li class="dropdown">
                <a [routerLink]="['/perfume']">Refillable Perfumes</a>
                <div class="dropdown-content">
                  <div class="dropdown-column">
                    <h4>Perfumes Sets</h4>
                    <a [routerLink]="['/perfume']">Parfum</a>
                    <a [routerLink]="['/perfume']">Eau de parfum</a>
                    <a [routerLink]="['/perfume']">Eau de parfum intense</a>
                  </div>
                  <div class="dropdown-column">
                    <h4>Popular brands</h4>
                    <a [routerLink]="['/perfume']">YSL</a>
                    <a [routerLink]="['/perfume']">Armani</a>
                    <a [routerLink]="['/perfume']">DIOR</a>
                    <a [routerLink]="['/perfume']">Jean Paul Gaultier</a>
                </div>
              </div>
            </li>
            <!-- Decants -->
            <li class="dropdown">
              <a [routerLink]="['/perfume']">Decants</a>
            </li>
            <!-- Samples -->
            <li class="dropdown">
                <a [routerLink]="['/perfume']">Samples</a>
            </li>
        </ul>
    </div>
  </nav>

  <!-- Main Content -->
  <section class="benefits">
        <h1>Motive pentru a alege Scent</h1>
        <div class="benefit">
            <div class="text">
                <h2>Avem aproape totul în stoc</h2>
                <p>
                    Suntem cel mai mare e-shop european de produse cosmetice și de parfumuri. Momentan, oferta noastră conține peste 82 de mii de produse, de la 1500 de branduri! Ne străduim să avem marea majoritate a produselor în stoc, iar coletele parfumate să vă fie expediate în aceeași zi în care le comandați. Peste o mie de angajați lucrează din greu în depozitul nostru, pentru realizarea acestor obiective!
                </p>
            </div>
            <div class="image">
                <img src="image1.png" alt="Produse cosmetice și de parfumuri">
            </div>
        </div>
        <div class="benefit">
            <div class="image">
                <img src="image2.png" alt="Magazin Scent">
            </div>
            <div class="text">
                <h2>Aceleasi preturi atat in e-shop, cat si in magazine</h2>
                <p>
                    Vi s-a întâmplat să încercați un parfum în magazin și apoi să-l căutați on-line, pentru a-l cumpăra mai ieftin? Nu mai este cazul. La Scent garantăm aceleași prețuri excelente la e-shop, în magazinele fizice și prin aplicația de pe telefonul mobil.
                </p>
            </div>
        </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
        <div class="footer-top">
          <div class="footer-contact">
            <p>0770 89 80 73</p>
            <p>Luni-Vineri 8-16, Sambata 10-18</p>
            <p><a href="mailto:info@ScentSerenity">info&#64;ScentSerenity.com</a></p>
          </div>
          <div class="footer-newsletter">
            <p>Newsletter to e-mail</p>
            <div class="newsletter-input">
              <input type="email" placeholder="Email address">
              <button> Submit </button>
            </div>
          </div>
        </div>
        <div class="footer-middle">
          <div class="footer-column">
            <h4>Magazinele și punctele noastre de vânzare</h4>
            <p>   Brasov - Calea București 260 </p>
            <p>   Cluj - Calea București 260 </p>
            <p>   Bucuresti - Calea București 260 </p>
          </div>
          <div class="footer-column">
            <h4>De ce Scent Serenity?</h4>
            <ul>
              <li><a href="#">  Avantajele ScentSerenity</a></li>
              <li><a href="#">  Despre noi</a></li>
              <li><a href="#">  Produse de marcă originale</a></li>
              <li><a href="#">  Ridicare Personală</a></li>
              <li><a href="#">  Protecția datelor personale</a></li>
            </ul>
          </div>
          <div class="footer-column">
            <h4>Link-uri importante</h4>
            <ul>
              <li><a href="#">  Recenzii produse</a></li>
              <li><a href="#">  Termeni și condiții</a></li>
              <li><a href="#">  Cum pot plăti?</a></li>
              <li><a href="#">  Metode de livrare</a></li>
              <li><a href="#">  Reclamații și plângeri</a></li>
              <li><a href="#">  Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="footer-trust">
            <a href="#"><img src="trustpilot.png" alt="Trustpilot"></a>
            <a href="#"><img src="anpc.png" alt="ANPC"></a>
            <a href="#"><img src="solution.png" alt="Solutionarea"></a>
          </div>
          <div class="footer-app">
            <p>Descărcați aplicația mobilă</p>
            <a href="#"><img src="google-play.png" alt="Google Play"></a>
            <a href="#"><img src="app-store.png" alt="App Store"></a>
          </div>
          <div class="footer-countries">
            <p>
              <a href="#">Belgium</a> | <a href="#">Deutschland</a> | <a href="#">France</a> | <a href="#">Great Britain</a> |
              <a href="#">Österreich</a> | <a href="#">Romania</a>
            </p>
          </div>
        </div>
        <div class="footer-legal">
          <p>© 2024 ScentSerenity, s.r.o. (SRL)</p>
        </div>
        <div class="footer-social">
          <a href="#"><img src="facebook.png" alt="Facebook"></a>
          <a href="#"><img src="instagram.png" alt="Instagram"></a>
          <a href="#"><img src="x.png" alt="Twitter"></a>
          <a href="#"><img src="youtube.png" alt="YouTube"></a>
        </div>
  </footer>

</body>
