

  <!-- Main Content -->
  <section class="benefits">
        <h1>Motive pentru a alege Scent</h1>
        <div class="benefit">
            <div class="text">
                <h2>Avem aproape totul în stoc</h2>
                <p>
                    Suntem cel mai mare e-shop european de produse cosmetice și de parfumuri. Momentan, oferta noastră conține peste 82 de mii de produse, de la 1500 de branduri! Ne străduim să avem marea majoritate a produselor în stoc, iar coletele parfumate să vă fie expediate în aceeași zi în care le comandați. Peste o mie de angajați lucrează din greu în depozitul nostru, pentru realizarea acestor obiective!
                </p>
            </div>
            <div class="image">
                <img src="image1.png" alt="Produse cosmetice și de parfumuri">
            </div>
        </div>
        <div class="benefit">
            <div class="image">
                <img src="image2.png" alt="Magazin Scent">
            </div>
            <div class="text">
                <h2>Aceleasi preturi atat in e-shop, cat si in magazine</h2>
                <p>
                    Vi s-a întâmplat să încercați un parfum în magazin și apoi să-l căutați on-line, pentru a-l cumpăra mai ieftin? Nu mai este cazul. La Scent garantăm aceleași prețuri excelente la e-shop, în magazinele fizice și prin aplicația de pe telefonul mobil.
                </p>
            </div>
        </div>
  </section>

