<section class="benefits">
  <h1>Reasons to choose Scent Serenity</h1>
  <div class="benefit">
    <div class="text">
      <h2>All in stock</h2>
      <p>
        We are the largest European e-shop for cosmetics and perfumes.
        Currently, our offer contains over 82 thousand products from 1500
        brands! We strive to have the vast majority of products in stock and to
        ship your scented parcels the same day you order them. Over a thousand
        employees work hard in our warehouse to achieve these goals!
      </p>
    </div>
    <div class="image">
      <img src="/assets/pic1.jpg" alt="Produse cosmetice și de parfumuri" />
    </div>
  </div>
  <div class="benefit">
    <div class="image">
      <img src="/assets/pic2.jpg" alt="Magazin Scent" />
    </div>
    <div class="text">
      <h2>The same prices both in the e-shop and in stores</h2>
      <p>
        You happened to try a perfume in the store and then look for it online
        to buy it cheaper? No more is the case. At Scent we guarantee the same
        great prices at e-shop, in physical stores and through the mobile phone
        application.
      </p>
    </div>
  </div>
</section>
