<!-- Main Content -->
<div id="main-content">
  <div class="sidebar">
    <p class="user-name">My account</p>
    <br>
    <ul>
      <li><a [routerLink]="['/account']" class="active">My orders</a></li>
      <li><a [routerLink]="['/order']">Purchased products</a></li>
      <li><a [routerLink]="['/cart']">Cart</a></li>
      <li><a [routerLink]="['/security']">Login and security</a></li>
      <li><a [routerLink]="['/contact']" >Contact details</a></li>
      <li><a [routerLink]="['/favorite']">Favourites</a></li>
      <li><a [routerLink]="['/cart']">Log out</a></li>
  </ul>
  </div>
  <div class="content">

    <h2>My orders</h2>
    <h3>Previous orders</h3>
    
    <div class="order">
      <a href="#">760404305</a>
      <span>Picked up | 01.01.2024 | 500 RON</span>
      <button class="return-btn">Returned/complained</button>
    </div>

    <div class="order">
      <a href="#">760114855</a>
      <span>Picked up | 01.01.2024 | 500 RON</span>
      <button class="return-btn">Returned/complained</button>
    </div>
    
  </div>
</div>
