

  <!-- Main Content -->
  <div class="main-content">
        <h1>Regulamentul General privind Protecția Datelor (GDPR)</h1>
        <p>
            Regulamentul General privind Protecția Datelor (GDPR) este un regulament al Uniunii Europene privind protecția datelor și confidențialitatea în UE și Spațiul Economic European (SEE). GDPR are ca scop principal oferirea controlului persoanelor fizice asupra datelor lor personale și simplificarea mediului de reglementare pentru afaceri prin unificarea reglementărilor în cadrul UE.
        </p>
        <h2>Principiile GDPR</h2>
        <ul>
            <li><strong>Legalitate, echitate și transparență:</strong> Datele personale trebuie procesate într-un mod legal, echitabil și transparent.</li>
            <li><strong>Limitarea scopului:</strong> Datele personale trebuie colectate doar pentru scopuri specificate, explicite și legitime.</li>
            <li><strong>Minimizarea datelor:</strong> Colectarea datelor personale trebuie să fie adecvată, relevantă și limitată la ceea ce este necesar în raport cu scopurile pentru care sunt procesate.</li>
            <li><strong>Accuratețe:</strong> Datele personale trebuie să fie corecte și, dacă este necesar, actualizate.</li>
            <li><strong>Limitarea stocării:</strong> Datele personale trebuie păstrate într-o formă care permite identificarea persoanelor vizate pentru o perioadă care nu este mai lungă decât este necesar.</li>
            <li><strong>Integritate și confidențialitate:</strong> Datele personale trebuie procesate într-un mod care să asigure securitatea adecvată a datelor personale.</li>
        </ul>
        <h2>Drepturile persoanelor vizate</h2>
        <ul>
            <li><strong>Dreptul la informare:</strong> Persoanele vizate au dreptul de a fi informate cu privire la colectarea și utilizarea datelor lor personale.</li>
            <li><strong>Dreptul de acces:</strong> Persoanele vizate au dreptul de a accesa datele lor personale și de a obține informații despre modul în care acestea sunt procesate.</li>
            <li><strong>Dreptul la rectificare:</strong> Persoanele vizate au dreptul de a solicita rectificarea datelor personale inexacte sau incomplete.</li>
            <li><strong>Dreptul la ștergere:</strong> Persoanele vizate au dreptul de a solicita ștergerea datelor lor personale în anumite circumstanțe.</li>
            <li><strong>Dreptul la restricționarea prelucrării:</strong> Persoanele vizate au dreptul de a solicita restricționarea prelucrării datelor lor personale.</li>
            <li><strong>Dreptul la portabilitatea datelor:</strong> Persoanele vizate au dreptul de a primi datele lor personale într-un format structurat, utilizat în mod curent și care poate fi citit automat.</li>
            <li><strong>Dreptul la opoziție:</strong> Persoanele vizate au dreptul de a se opune prelucrării datelor lor personale în anumite circumstanțe.</li>
        </ul>
        <h2>Contact</h2>
        <p>
            Pentru orice întrebări sau solicitări legate de GDPR, vă rugăm să ne contactați la adresa de email:<a href="mailto:info@ScentSerenity">info&#64;ScentSerenity.com</a>.
        </p>
  </div>
