  <!-- Main Content -->
  <div class="main-content">
    <h1>General Data Protection Regulation (GDPR)</h1>
    <p>
        The General Data Protection Regulation (GDPR) is a European Union regulation concerning data protection and privacy in the EU and the European Economic Area (EEA). The primary aim of the GDPR is to give individuals control over their personal data and to simplify the regulatory environment for businesses by unifying the regulations within the EU.
    </p>
    <h2>GDPR Principles</h2>
    <ul>
        <li><strong>Lawfulness, fairness, and transparency:</strong> Personal data must be processed lawfully, fairly, and transparently.</li>
        <li><strong>Purpose limitation:</strong> Personal data must be collected for specified, explicit, and legitimate purposes only.</li>
        <li><strong>Data minimization:</strong> The collection of personal data must be adequate, relevant, and limited to what is necessary in relation to the purposes for which they are processed.</li>
        <li><strong>Accuracy:</strong> Personal data must be accurate and, where necessary, kept up to date.</li>
        <li><strong>Storage limitation:</strong> Personal data must be kept in a form that permits identification of data subjects for no longer than is necessary.</li>
        <li><strong>Integrity and confidentiality:</strong> Personal data must be processed in a manner that ensures appropriate security of the personal data.</li>
    </ul>
    <h2>Rights of Data Subjects</h2>
    <ul>
        <li><strong>Right to be informed:</strong> Data subjects have the right to be informed about the collection and use of their personal data.</li>
        <li><strong>Right of access:</strong> Data subjects have the right to access their personal data and obtain information about how it is processed.</li>
        <li><strong>Right to rectification:</strong> Data subjects have the right to request the rectification of inaccurate or incomplete personal data.</li>
        <li><strong>Right to erasure:</strong> Data subjects have the right to request the deletion of their personal data under certain circumstances.</li>
        <li><strong>Right to restrict processing:</strong> Data subjects have the right to request the restriction of the processing of their personal data.</li>
        <li><strong>Right to data portability:</strong> Data subjects have the right to receive their personal data in a structured, commonly used, and machine-readable format.</li>
        <li><strong>Right to object:</strong> Data subjects have the right to object to the processing of their personal data under certain circumstances.</li>
    </ul>
    <h2>Contact</h2>
    <p>
        For any questions or requests related to GDPR, please contact us at the following email address: <a href="mailto:info@ScentSerenity">info&#64;ScentSerenity.com</a>.
    </p>
  </div>
