<div class="product-page">
    <div class="product-images">
        <img mat-card-image class="perfume-image" [src]="perfume.images[0]" alt="Perfume Image">
    </div>
    <div class="product-details">
        <h1>{{perfume.name}} </h1>
        <h3>{{perfume.brand}}</h3>
        <p class="price"><span class="discounted-price"> {{perfume.price}} RON</span></p>
        <h3 class="availability">In stoc for {{perfume.quantity}}</h3>
        <button mat-stroked-button (click)="addItemToCart(perfume)">Add to Cart</button>
        <br>
        <p class="gift"> Description </p>
        <p> {{perfume.description}} </p>
        <br>
        <p class="gift"> Fragrantica - Your Online Destination for All Things Fragrance</p>
        <p> Discover the world of perfumes with Fragrantica, a comprehensive online resource,
            magazine, and community dedicated to fragrance enthusiasts. </p>
        <button mat-stroked-button><a class="fragrantica-link" [href]='perfume.fragranticaLink'>Fragrantica</a></button>
    </div>
</div>

