<div id="main-content">
  <h1>Shipping and Payment Prices</h1>
  <p class="free-shipping">Free Shipping</p>
  <p class="shipping-note">for minimum purchases of 250 RON until 31.12.2024</p>
  <h2>Shipping Options</h2>
  <ul class="shipping-options">
    <li>
      <span>Personal Pickup Bucharest</span>
      <span class="price">6 RON</span>
    </li>
    <li>
      <span>SameDay</span>
      <span class="price">12 RON</span>
    </li>
    <li>
      <span>Home Delivery FAN</span>
      <span class="price">13 RON</span>
    </li>
    <li>
      <span>Packeta</span>
      <span class="price">10 RON</span>
    </li>
    <li>
      <span>Cargus</span>
      <span class="price">15 RON</span>
    </li>
    <li>
      <span>SameDay EasyBox</span>
      <span class="price">12 RON</span>
    </li>
    <li>
      <span>SameDay Express</span>
      <span class="price">20 RON</span>
    </li>
    <li>
      <span>Pickup from FAN Office</span>
      <span class="price">12 RON</span>
    </li>
    <li>
      <span>FAN Pickup Points</span>
      <span class="price">12 RON</span>
    </li>
  </ul>
</div>
