

  <!-- Main Content -->
  <div id="main-content">
        <h1>Prețurile de transport și plată</h1>
        <p class="free-shipping">Livrare gratuită</p>
        <p class="shipping-note">la cumpărăturile minime de 250 RON până în data de 31.12.2024</p>
        <h2>Opțiuni de expediere</h2>
        <ul class="shipping-options">
            <li>
                <span>Ridicare personală București</span>
                <span class="price">6 RON</span>
            </li>
            <li>
                <span>SameDay</span>
                <span class="price">12 RON</span>
            </li>
            <li>
                <span>Livrare la domiciliu FAN</span>
                <span class="price">13 RON</span>
            </li>
            <li>
                <span>Packeta</span>
                <span class="price">10 RON</span>
            </li>
            <li>
                <span>Cargus</span>
                <span class="price">15 RON</span>
            </li>
            <li>
                <span>SameDay EasyBox</span>
                <span class="price">12 RON</span>
            </li>
            <li>
                <span>SameDay Express</span>
                <span class="price">20 RON</span>
            </li>
            <li>
                <span>Ridicare de la Sediul FAN</span>
                <span class="price">12 RON</span>
            </li>
            <li>
                <span>Puncte de ridicare FAN</span>
                <span class="price">12 RON</span>
            </li>
        </ul>
  </div>

